# Dependencies
node_modules

# Build output
.next
out

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Git
.git
.gitignore

# Testing
coverage

# TypeScript cache
*.tsbuildinfo
